<!DOCTYPE html>
<html>
<head>
  <title>InteraktDummyProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= render 'links' %>
</body>


<!--XRAY START 38 /Users/ghanshyam/workspace/fizzy/interakt/app/views/projects/install_code/_script_for_interakt.html.erb-->
<!-- Interakt Code for http://app.lvh.me:3001 -->
<script>
  (function() {
  var interakt = document.createElement('script');
  interakt.type = 'text/javascript'; interakt.async = true;
  interakt.src = "http://cdn.lvh.me:3000/interakt/b8bbf7f21b2236f5fa62407f4dd2afef.js";
  var scrpt = document.getElementsByTagName('script')[0];
  scrpt.parentNode.insertBefore(interakt, scrpt);
  })()
</script>

<!--XRAY END 38-->

</html>
